body {
    background-color: rgb(240, 204, 223);
}

h1 {
    font-size: 50px;
    margin-top: 3rem;
    text-align: center;
}

.buttons {
    display: flex;
    margin-top: 6rem;
    font-size: 300px;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 15px;
    margin: 0;
}

.mybutton {
    background-color: rgb(235, 191, 198);
    align-items: center;
    margin-right: 35px;
    margin-left: 35px;
    height: 200px;
    width: 200px;
    font-size: 25px;
}